/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require devise_bootstrap_views
 *= require_tree .
 *= require_self
 */
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
body { 
    padding-top: 65px; 
}

.logoimage {
    max-width: 100%;
    max-height: 253px;
  }

/* https://bootsnipp.com/snippets/xAKG */
 .tags a{border:1px solid #DDD;display:inline-block;color:#717171;background:#FFF;-webkit-box-shadow:0 1px 1px 0 rgba(180,180,180,0.1);box-shadow:0 1px 1px 0 rgba(180,180,180,0.1);-webkit-transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-o-transition:all .1s ease-in-out;-ms-transition:all .1s ease-in-out;transition:all .1s ease-in-out;border-radius:2px;margin:0 3px 6px 0;padding:5px 10px}
 .tags a:hover{border-color:#08C;}
 .tags a.primary{color:#FFF;background-color:#428BCA;border-color:#357EBD}
 .tags a.success{color:#FFF;background-color:#5CB85C;border-color:#4CAE4C}
 .tags a.info{color:#FFF;background-color:#5BC0DE;border-color:#46B8DA}
 .tags a.warning{color:#FFF;background-color:#F0AD4E;border-color:#EEA236}
 .tags a.danger{color:#FFF;background-color:#D9534F;border-color:#D43F3A}
